.movie-card {
    width: 20rem; 
    height: 32rem;
    background: #DBF0FF;
    margin: 2rem;
    text-align: center;
}


.link:hover {
    color: #8F750E;
    cursor: pointer;
}

.thumbnail {
    padding: 2rem;
    width: auto;
}