$dark: #354359;
$light: #DBF0FF;
$primary: #00538F;
$secondary: #8F360E;
$success: #8F750E;

.registration-view {
    background-color: $light;
}


.dark {
    background-color: $dark;
    color: $light;
}
