@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$dark: #354359;
$primary: #00538F;
$secondary: #8F360E;
$success: #8F750E;


.my-flix{
}

body {
    font-family: 'Lato', sans-serif; 
    background: $dark;

}